<% include ./header %>

<div class="container">
  <header class="jumbotron">
    <h1 class="text-center">🌹⚽ Tabla de Posiciones ⚽🌹</h1>
  </header>

   <a href="/games"><i class="fas fa-futbol"style="font-size:36px; color:black;"></i></a>

  <table 
         data-toggle="table" 
         data-search = "true" 
         data-show-columns="true"
         data-striped="true"
         data-sort-name="wins"
         data-sort-order="desc"
         data-side-pagination = 'client'
         data-pagination="true"
         data-page-list = "[10, 25, 50, 100, All]"
        >
    <thead>
      <tr>
        <th data-align="center">Posición</th>
        <th data-align="center">Jugador</th>
        <th data-align="center">Partidos</th>
        <th data-align="center">Victorias</th>
        <th data-align="center">Pérdidas</th>
        <th data-align="center">Empates</th>
        <th data-align="center"> Última Victoria (Fecha)</th>
      </tr>
    </thead>
    <tbody>
      <% topPlayers.forEach((player, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><a href="/profile/<%= player._id %>"><%= player.name %></a></td>
          <td><%= player.games %></td>
          <td><%= player.wins %></td>
          <td><%= player.loses%></td>
          <td><%= player.draws %></td>
          <td><%= player.last_win ? player.last_win.toDateString() : 'N/A' %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

  <a href="/" class="btn btn-primary"><b>INICIO</b></a>
</div>

<% include ./footer %>
